@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #9278ca;
  --secondary: #58389d;
  /* --primary: #ffffff; */
  /* --secondary: #6ca0e1; */
  --text: #58389d;
  --background: #F5F6FF;
}

/* h1 {
	font-family: 'Hedvig Letters Serif', serif;
} */

* {
  font-family: 'Roboto', sans-serif;
}